[submodule "சுடோகுஉவபே"]
	path = சுடோகுஉவபே
	url = https://github.com/247i/USBSudoku.git
[submodule "சுடோகு"]
	path = சுடோகு
	url = https://github.com/247i/Sudoku.git
[submodule "சாளரஅட்டை"]
	path = சாளரஅட்டை
	url = https://github.com/247i/winboard.git
[submodule "புதிர்கள்"]
	path = புதிர்கள்
	url = https://github.com/247i/Puzzles.git
